$primary-background: rgb(249, 243, 249);
$main-text: #583939;
$head-text: #363636;
$rouge: #b70114;
$black: #000;
$purple: #606;
$purple-text: #660066cc;
$light-purple:  rgba(235, 225, 244, 0.70);
$white: #fff;
$soft-pink:
rgba(231, 236, 251, 0.20);
$light-button-bg: rgba(54, 54, 54, 0.08);
$light-brown: rgba(88, 57, 57, 0.588);