@import '../vars.scss';

.adv{
    padding: 35px 3.5% 95px 15%;
}

.adv__title{
    margin-bottom: 15px;
}

.adv__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adv__item{
background: linear-gradient(157deg, rgba(238,199,252,1) 0%, rgba(187,184,227,1) 35%, rgba(243,233,253,1) 100%);
border-radius: 4px;
border: 0.8px solid rgba(208, 198, 246, 0.75);
padding: 20px;
box-sizing: border-box;
max-width: 350px;
min-height: 203px;
}

.adv__item-inner{
    display: flex;
    justify-content:space-between;
}

.adv__text-bigger{
    font-size: 16px;
}

.adv__text{
    font-size: 13px;
    line-height: normal;

&:first-of-type{
    margin-bottom: 12px;
}
}

.adv__info-list{
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style-type: disc;
}

.adv__info-item{
    font-size: 13px;
}

.adv__item-photo img{
    border-radius: 4px;
}

.adv__item:nth-child(3) .adv__item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.adv__button{
    border-radius: 20px;
    background-color: rgba(54, 54, 54, 0.08);
    box-shadow: 1px 3px 2px 0px rgba(128, 23, 84, 0.40);
    border: transparent;
    color: $main-text;
    font-size: 11px;
    line-height: normal;
    padding: 10px;
    font-size: 11px;
    margin-right: 10px;
}

.adv__car-icon{
    width: 30px;
    height: 35px;
    background-image: url(../../images/car.svg);
}
