@import '../vars.scss';

.footer {
    padding: 50px 0 8px;
}

.footer__inner {
    padding: 20px 15px 50px;
    border-radius: 35px;
    background-color: $light-purple;
    box-shadow: 0px 4px 4px 0px #D0C6F6;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 27px;
}

.logo__link-footer, .logo-link__upper-footer {
    color: $purple-text;
}

.footer__logo{
    margin-bottom: 28px;
}

.footer__nav {
    display: flex;
}

.nav__list, .social-media__list, .contacts__list{
    font-family: 'Involve';
    font-size: 12px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $purple-text;
}

.nav__list a, .social-media__list a, .contacts__list a {
    color: $purple-text;
}