@import "../vars.scss";

.header {
  padding: 15px;
  color: $head-text;
}

.header__inner {
  display: flex;
}

.logo__link {
  display: flex;
  flex-direction: column;
  color: $head-text;
}

.logo-link__upper {
  color: $head-text;
  font-family: "Forum", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.logo-link__bottom {
  font-family: "Forum", serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.instagram-link {
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../../images/insta.svg");
}
