@import '../vars.scss';

.price{
      padding: 30px 3.5% 230px 15%;
}

.price__cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.price__card{
    background-color: $soft-pink;
    padding: 30px 25px;
    max-width: 350px;
    height: 370px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 2px 7px 4px 0px rgba(185, 147, 214, 0.50);
}

.title__service{
    font-family: "Forum", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    color: $main-text;
}

.title__master{
    color: $main-text;
    font-family: "Involve";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card__title{
    margin-bottom: 50px;
}

.services__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 50px;
}

.price__button{
    background-color: $light-button-bg;
    color: $main-text;
    font-family: "Involve";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 2px 0px rgba(128, 23, 84, 0.40);
    width: 90%;
    border: transparent;
    cursor: pointer;

    &::after{
        content: url(../../images/Arrow.svg);
        margin-left: 10px;
    }

}