@import "../vars";

.promo {
  padding-top: 15px;
}

.promo__grid {
  display: grid;
  grid-template-columns: 129px 166px;
  grid-template-rows: 85px 194px;
  justify-content: center;
  gap: 4px;
  margin-bottom: 25px;
}

.promo__photo1-wrapper {
  grid-column: 2;
  grid-row: 1 / 3;
}

.promo__title--rouge-color {
  font-family: "Caveat", cursive;
  color: $rouge;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__title--brown-color {
  display: block;
}

.promo__photo1-wrapper {
  padding-top: 15px;
}

.promo__photo1 {
  width: 100%;
  height: 100%;
  background-image: url(../../images/promo-1.png);
  background-repeat: no-repeat;
}

.promo__photo2 {
  width: 100%;
  height: 100%;
  background-image: url(../../images/promo-2.png);
  background-repeat: no-repeat;
}
