@import '../vars.scss';



.sign-up{
    background-image: url(../../images/sign-up.jpg);
}

.sign-up__inner{
    padding: 10px 0 47px 66px;
}

.sign-up__title{
    margin-bottom: 0;
}

.sign-up__text{
    font-size: 13px;
}